go 1.25.5

use (
	../proto/generated/go
	./common-lib
	./gateway/proto-gateway
	./modules/health
	./modules/hello
	./services/config
	./services/i18n
	./tars/config
	./tars/i18n
	./tars/provider-admin
	./tars/system
)
